<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Mom and Dad's Europe Trip</title>
<link rel="stylesheet" href="style.css" type="text/css">
</head>
<frameset cols="180,*" border="0">
<frame src="thumbnails.html" scrolling="yes" border="0">
</frame>
<frame src="target0.html" name="images" border="0">
</frame>
</frameset>
</frame>
</frameset>
</html>